
{% extends "base.html" %} 
{% block content %}
{% load static %}

<section class="text-gray-600 body-font">
  <div
    class="
      container
      mx-auto
      flex
      px-5
      py-24
      items-center
      justify-center
      flex-col
    "
  >
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="{%static 'IMAGES/crm-images.png'%}"
    />
    <div class="text-center lg:w-2/5 w-full">
      <h1
        class=" title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Sper Charg Your Sales and Leads!
      </h1>
      <p class="text-4x mb-8 leading-relaxed ">
        Managing your sales team using a spread sheet? Use our CRM the ezziest one in the market to manage and run reports online from anywhere, anytime and accessible to your entire team online.
      </p>
      {% comment %} <div class="flex justify-center">
        <button
          class="
            inline-flex
            text-white
            bg-red-500
            border-0
            py-2
            px-6
            focus:outline-none
            hover:bg-red-600
            rounded
            text-lg
          "
        >
          Button
        </button>
        <button
          class="
            ml-4
            inline-flex
            text-gray-700
            bg-gray-100
            border-0
            py-2
            px-6
            focus:outline-none
            hover:bg-gray-200
            rounded
            text-lg
          "
        >
          Button
        </button>
      </div> {% endcomment %}
    </div>
  </div>

  <div>
  
  </div>
</section>




{% endblock content %}
